{% extends 'base.html.twig' %}

{% block title %}MasterOfDestiny{% endblock %}

{% block body %}
    <h1 class="text-center text-2xl text-black mb-5">Create new MasterOfDestiny</h1>
    {{ include('master_of_destiny/_form.html.twig') }}
{% endblock %}
