{% extends 'base.html.twig' %}

{% block title %}Édition Hero{% endblock %}

{% block body %}
    <h1>Édition Hero</h1>

    {{ include('hero/_form.html.twig', {'button_label': 'Mettre à jour', 'button_type': 'submit'}) }}

    <a href="{{ path('app_hero_index') }}">Retour à la liste</a>

    {{ include('hero/_delete_form.html.twig') }}
{% endblock %}
