{% extends 'base.html.twig' %}

{% block title %}Nouveau Héro{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl text-black mb-5 font-bold">Création d'un Héro</h1>

    {{ include('hero/_form.html.twig') }}

    
{% endblock %}
